@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.light-mode{
  background: transparent;
  color: white !important;
  transition: "0.1s";
}
.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
